html {
    scroll-behavior: smooth
}

#about {
    color: rgb(8, 130, 130);
    font-size: 37px;
    text-align: left;
    margin-left: 50px
}

#note {
    color: rgb(8, 130, 130);
    font-size: 27px;
    text-align:left;
    margin-left: 70px
}

.section_header {
    color: rgb(6, 47, 169);
    font-size: 37px;
    margin-left: 50px
}



header {
    position: relative;
    overflow: hidden;
}

#background {
    position: absolute;

    top:0;
    bottom:0;
    right:0;
    left:0;

    background: url('way.jpg') no-repeat 40% 40%;
    background-size: cover;

    z-index: 10;

    opacity: 0.5;
}

#header-content {
    position: relative;
    z-index: 11;
    padding: 10px;

    margin: 80px;

    background: rgba(237, 229, 229, 0.16);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(237, 229, 229, 1);
    
}

header ul {
    list-style: none;
}

li {
    margin-left: 90px
}

.punkty_li{
    margin-left: 0px
}

ul {
    margin: 0 auto
}

.container {
    max-width: 1320px;
    height: auto;
}